.img-box {
  max-width:1400px;
}

.img-box > .section-0 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-0.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-0::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-1 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-1.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
}

.img-box > .section-1::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-1 > .img-1 {
  position:absolute;
  top:8.4%;
  left:16.5%;
}

.img-box > .section-1 > .img-1 > img {
  height:auto;
  width:30.6vw;
  max-width:848.415px;
}

.img-box > .section-2 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-2.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
}

.img-box > .section-2::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-2 > .img-2 {
  position:absolute;
  top:8.4%;
  left:16.5%;
}

.img-box > .section-2 > .img-2 > img {
  height:auto;
  width:27.6vw;
  max-width:848.415px;
}

.img-box > .section-2 > .img-3 {
  position:absolute;
  top:70.4%;
  left:49.8%;
}

.img-box > .section-2 > .img-3 > img {
  height:auto;
  width:32.6vw;
  max-width:848.415px;
}

.img-box > .section-3 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-3.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
}

.img-box > .section-3::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-3 > .img-4 {
  position:absolute;
  top:8.4%;
  left:16.5%;
}

.img-box > .section-3 > .img-4 > img {
  height:auto;
  width:27.6vw;
  max-width:848.415px;
}

.img-box > .section-3 > .img-5 {
  position:absolute;
  top:61.4%;
  left:52.5%;
}

.img-box > .section-3 > .img-5 > img {
  height:auto;
  width:9vw;
  max-width:85px;
}

.img-5 {
  animation-name: floating-1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}

@keyframes floating-1 {
  0% {
    top:61.4%;
  }
  
  50% {
    top:60.2%;
  }
  
  100% {
    top:61.4%;
  }
}

.img-box > .section-4 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-4.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-4::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1182);
}

.img-box > .section-5 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-5.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-5::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-6 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-6.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-6::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1726);
}

.img-box > .section-6 > .img-6 {
  position:absolute;
  top:8.4%;
  left:16.5%;
}

.img-box > .section-6 > .img-6 > img {
  height:auto;
  width:27.6vw;
  max-width:270px;
}

.img-box > .section-6 > .img-7 {
  position:absolute;
  top:28.4%;
  left:58.0%;
}

.img-box > .section-6 > .img-7 > img {
  height:auto;
  width:9vw;
  max-width:135px;
}

.img-7 {
  animation-name: floating-2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}

@keyframes floating-2 {
  0% {
    top:28.4%;
  }
  
  50% {
    top:27.2%;
  }
  
  100% {
    top:28.4%;
  }
}

.img-box > .section-6 > .img-8 {
  position:absolute;
  top:28.0%;
  left:70.0%;
}

.img-box > .section-6 > .img-8 > img {
  height:auto;
  width:9vw;
  max-width:135px;
}

.img-8 {
  animation-name: floating-3;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}

@keyframes floating-3 {
  0% {
    top:28.4%;
  }
  
  50% {
    top:27.2%;
  }
  
  100% {
    top:28.4%;
  }
}

.img-box > .section-6 > .img-9 {
  position:absolute;
  top:27.8%;
  left:81.5%;
}

.img-box > .section-6 > .img-9 > img {
  height:auto;
  width:9vw;
  max-width:125px;
}

.img-9 {
  animation-name: floating-4;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}

@keyframes floating-4 {
  0% {
    top:28.4%;
  }
  
  50% {
    top:27.2%;
  }
  
  100% {
    top:28.4%;
  }
}

.img-box > .section-7 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-7.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-7::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1316);
}