.img-box {
  max-width:1400px;
}

.img-box > .section-0 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-0.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.img-box > .section-0::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-1 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-1.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
}

.img-box > .section-1::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-1 > .img-1 {
  position:absolute;
  top:8.4%;
  left:16.5%;
}

.img-box > .section-1 > .img-1 > img {
  height:auto;
  width:30.6vw;
  max-width:848.415px;
}

.img-box > .section-2 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-2.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
}

.img-box > .section-2::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-2 > .img-2 {
  position:absolute;
  top:8.4%;
  left:16.5%;
}

.img-box > .section-2 > .img-2 > img {
  height:auto;
  width:27.6vw;
  max-width:848.415px;
}

.img-box > .section-2 > .img-3 {
  position:absolute;
  top:70.4%;
  left:49.8%;
}

.img-box > .section-2 > .img-3 > img {
  height:auto;
  width:32.6vw;
  max-width:848.415px;
}

.img-box > .section-3 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-3.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position: relative;
}

.img-box > .section-3::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1080);
}

.img-box > .section-3 > .img-4 {
  position:absolute;
  top:8.4%;
  left:16.5%;
}

.img-box > .section-3 > .img-4 > img {
  height:auto;
  width:27.6vw;
  max-width:848.415px;
}

.img-box > .section-3 > .img-5 {
  position:absolute;
  top:61.4%;
  left:52.5%;
}

.img-box > .section-3 > .img-5 > img {
  height:auto;
  width:9vw;
  max-width:85px;
}

.img-5 {
  animation-name: floating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}

@keyframes floating {
  0% {
    top:61.4%;
  }
  
  50% {
    top:60.2%;
  }
  
  100% {
    top:61.4%;
  }
}

.img-box > .section-4 {
  height:auto;
  background-image:url(https://rawcdn.githack.com/minjeong10/minjeong-project/master/docs/resource/a-4.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:relative;
}

.img-box > .section-4::after {
  content:"";
  display:block;
  padding-top:calc(100% / 1920 * 1182);
}